<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<body background="https://freedesignfile.com/upload/2017/06/A-playing-cards-with-black-background-vector-01.jpg">
<font face="Comic Sans MS" color=Red style="size: 10;">
<h2>
  Login
</h2>
<br>
<form (submit)="loginUser()">
 <div class="input">
  <label>Email:</label>
  <input type="text">
 </div>
 <br>
 <div class="input">
  <label>Password</label>
  <input type="password">
 </div>
 <br>
 <div class="input">
  <input type="submit" value="Login" class="btn btn-outline-danger" >
 </div>
</form>
</font>
</body>