<body>
  <section id="poker-skin-v1">
    <div class="poker-skin-v1-main-container">
      <div class="poker-table">
        <div class="poker-table-sub-container">
          <div class="poker-table-sub-container-grid">
            <div class="poker-table-grid-cell">
              <h4 id="player-1">Albert459</h4>
              <p>$5.00</p>
            </div>

            <div class="poker-table-grid-cell center">
              <h3>Total Pot: $20</h3>
              <div class="center-flex">
                <div class="cards">
                  <div class="top-of-card">
                    <div><p>5</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAA/0lEQVQ4jd3Tu0oDQRiG4XfUIHgCm5QWip2ghfeiiOJF2HgRopWVt2Bjr3cggpVFOk9oGRIbxbwWu4vDJrvubgTBrxrm8MzMzwz8i6httf1b2Kx6pV6qM+Niq+qN37lWV5pi+2rP4XTVnTrQtHo2AsrnVG39hLXUiwpYlnN1qgw8rIFlOSgDnxuAj7ERImwO6FWtdS7zIYQ+wETU+QY8NcAeMmwo6nbBtfqOfkKqW6XbqXvqazp5YPJDOupd2h6kYy/qbn59KEAngSWgCywCnXRomaTOC8B9COGzal1i/CS63lFtIIetqe8R+KGul60pfuVJNoHjXN8GcDvOQf82X/BctEYp31GBAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABmJLR0QA/wD/AP+gvaeTAAABTUlEQVRIie3VvUrDUByG8fc0i1hc/Iig+IGbg70DcdQrcCyCgqPghbgITm6CXRRE/MBLcHDooFMQBelQHVyqIsXHJcGSJulpPRGHPnC2w/+XkxyI1O8/BPiA/1eYB5wBp4CXNzYInPDTMTCQFzYPVGnvFlhwjZWBRgIW9QZsuYCGgKMMKF4FKPaKzQF3XWBRVWC6W2wKuO8BiwqASVvMA25+gUVdAwUbcNMBFrUen5/0BGWrV2HXmg044xCctQGfHYJts5LAC4fgeccdwAhQ63AZPsOV1RMwbPVYQAl4TBkUAM1wBSl7HoBS0myTgRYlbUhaluRLqkm6lPQq6TDctippTNKKpAlJdUlXkvaNMQ2r01mcvtJykgMnQzOwceCjBXwnzz8/sJfwvXbzwpbCixKvCSzazkm9NDGsIGlb0mjKlhdJO8aYL1u4n7O+Acb7xOz7R6mBAAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
                <div class="cards">
                  <div class="top-of-card">
                    <div><p>4</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAA/0lEQVQ4jd3Tu0oDQRiG4XfUIHgCm5QWip2ghfeiiOJF2HgRopWVt2Bjr3cggpVFOk9oGRIbxbwWu4vDJrvubgTBrxrm8MzMzwz8i6httf1b2Kx6pV6qM+Niq+qN37lWV5pi+2rP4XTVnTrQtHo2AsrnVG39hLXUiwpYlnN1qgw8rIFlOSgDnxuAj7ERImwO6FWtdS7zIYQ+wETU+QY8NcAeMmwo6nbBtfqOfkKqW6XbqXvqazp5YPJDOupd2h6kYy/qbn59KEAngSWgCywCnXRomaTOC8B9COGzal1i/CS63lFtIIetqe8R+KGul60pfuVJNoHjXN8GcDvOQf82X/BctEYp31GBAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABmJLR0QA/wD/AP+gvaeTAAABTUlEQVRIie3VvUrDUByG8fc0i1hc/Iig+IGbg70DcdQrcCyCgqPghbgITm6CXRRE/MBLcHDooFMQBelQHVyqIsXHJcGSJulpPRGHPnC2w/+XkxyI1O8/BPiA/1eYB5wBp4CXNzYInPDTMTCQFzYPVGnvFlhwjZWBRgIW9QZsuYCGgKMMKF4FKPaKzQF3XWBRVWC6W2wKuO8BiwqASVvMA25+gUVdAwUbcNMBFrUen5/0BGWrV2HXmg044xCctQGfHYJts5LAC4fgeccdwAhQ63AZPsOV1RMwbPVYQAl4TBkUAM1wBSl7HoBS0myTgRYlbUhaluRLqkm6lPQq6TDctippTNKKpAlJdUlXkvaNMQ2r01mcvtJykgMnQzOwceCjBXwnzz8/sJfwvXbzwpbCixKvCSzazkm9NDGsIGlb0mjKlhdJO8aYL1u4n7O+Acb7xOz7R6mBAAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
                <div class="cards">
                  <div class="top-of-card">
                    <div><p>3</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAABBklEQVQ4ja2Tzy4EQRCHv2YkHDgtEvaGqyN78yA8gqcRR2d/gngFLyCSvbI3GxISbiRWPgctOzt6xs5kf0kn1VXVX3dXd8GEFKqC6jSwGafdEMJX7R3UVfXWoW7UlSagU//qpAmonwD1y/KnKlgvCd9zE9DxmD4Asl9DnQH2gZ14mgvgDtiIKT2gqx4BLeAaOAwhDEaI6nmiJk85+zERPytC1hNJ42otX6NWRa3+03CtOlfy3O/qR24U9aDOFq/XUXsx4VO9VLfUQRwd9Sraqvfqduk51bY6H+3d3O570begtmtd3tE2qd8eEZKprznQmz9/LamsLAAsAwcM22IRWAJK+20i+gbq4YPfO0zkXAAAAABJRU5ErkJggg=="
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAABmJLR0QA/wD/AP+gvaeTAAABmklEQVRIid2VTUsWYRSGr/Pqpg+RaFUgWIEWta5VtdBWUlDLVtHCv6F/I1Bc9LGrfkDLNtGmAoNcaLxChQv7glTy43LhvDDORzOj08YbBobzPHNfZ+ac8wwcVUWTzepx4BZwFvgCvIqI9dazUsfVb+7XV3WsbdBldc1i/VEvtQl7WgLq6XGbsM8VsKU6Pp2avL+HXG8Em69Y/9gmrKomT2r6FEs9mcwVakd9U1Kvt2pfsu+YeqIJ5I76IV18dVq9oW5mQFvqTXVKXUzF36u3q0AP1Z2SN1hRlzOxZfOD3tOO+iDtHynQKaALDNT+DNX6BQxHxE/Y3yBjLYMABhNfsrDTLYNyvmnYwn+CfcpF1L5MFxZpVf2e3P9Irn/pnVo8y+qo2i14aFudUc+pG0lsQz2vzlncwV11JO2f+3mqg8AkcB3YZO+oehYRC+pd4EVq+72IeKleBO4DV4B+4DXwKCJ+H+S79xKZzWQ/c2CzClDH/ACvlNbkkLBrJU1wta5Hk6wmGsZz6m8AGwKeA6vANnunwxngQgOPI6pdr9tid+Wth7QAAAAASUVORK5CYII="
                    />
                  </div>
                </div>
                <div class="cards">
                  <div class="top-of-card">
                    <div><p>2</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAABBklEQVQ4ja2Tzy4EQRCHv2YkHDgtEvaGqyN78yA8gqcRR2d/gngFLyCSvbI3GxISbiRWPgctOzt6xs5kf0kn1VXVX3dXd8GEFKqC6jSwGafdEMJX7R3UVfXWoW7UlSagU//qpAmonwD1y/KnKlgvCd9zE9DxmD4Asl9DnQH2gZ14mgvgDtiIKT2gqx4BLeAaOAwhDEaI6nmiJk85+zERPytC1hNJ42otX6NWRa3+03CtOlfy3O/qR24U9aDOFq/XUXsx4VO9VLfUQRwd9Sraqvfqduk51bY6H+3d3O570begtmtd3tE2qd8eEZKprznQmz9/LamsLAAsAwcM22IRWAJK+20i+gbq4YPfO0zkXAAAAABJRU5ErkJggg=="
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAABmJLR0QA/wD/AP+gvaeTAAABmklEQVRIid2VTUsWYRSGr/Pqpg+RaFUgWIEWta5VtdBWUlDLVtHCv6F/I1Bc9LGrfkDLNtGmAoNcaLxChQv7glTy43LhvDDORzOj08YbBobzPHNfZ+ac8wwcVUWTzepx4BZwFvgCvIqI9dazUsfVb+7XV3WsbdBldc1i/VEvtQl7WgLq6XGbsM8VsKU6Pp2avL+HXG8Em69Y/9gmrKomT2r6FEs9mcwVakd9U1Kvt2pfsu+YeqIJ5I76IV18dVq9oW5mQFvqTXVKXUzF36u3q0AP1Z2SN1hRlzOxZfOD3tOO+iDtHynQKaALDNT+DNX6BQxHxE/Y3yBjLYMABhNfsrDTLYNyvmnYwn+CfcpF1L5MFxZpVf2e3P9Irn/pnVo8y+qo2i14aFudUc+pG0lsQz2vzlncwV11JO2f+3mqg8AkcB3YZO+oehYRC+pd4EVq+72IeKleBO4DV4B+4DXwKCJ+H+S79xKZzWQ/c2CzClDH/ACvlNbkkLBrJU1wta5Hk6wmGsZz6m8AGwKeA6vANnunwxngQgOPI6pdr9tid+Wth7QAAAAASUVORK5CYII="
                    />
                  </div>
                </div>
                <div class="cards">
                  <div class="top-of-card">
                    <div><p>1</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAA50lEQVQ4jc3RvUpDQRCG4XdSiJEoSoilpYWXElCSu1BS5jqsrS3sBEEEIa1FkisQtbNOilil8k2z6jHnmJ9joR8s7LDDwzAL/y2RLdQj4BQ4BF6Bm4i4T29NoAUcAM/ARUQ85kS1rU7N5zKd+UzV1jzSUN8KmpdlotYBKsk6BrZLrGYHOMlCjRLIR/az0MsvoKfPm1pVxyV2NFKr31i1UwI6y82nhnq3BnKrRg5K2Jb6sALSV2sLN6fuqcMFyEDdXekb1JraK0B6SycpwDbUqwxyrW7+1F+8rC+sApynshsR72tN86eZAXWItlvKdzswAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAABmJLR0QA/wD/AP+gvaeTAAABS0lEQVRIie3VO0vkYBSH8eeI4JYyohYLWlpZiiOCImptpx9hOrfcarFV/AAWfhQRtPZSumxp4QW8deuFkcfCGXnBjJlL0vlvQpKT88t5eUPgOwUksi6q/cAyMAdUgBvgANiPCJO6AJaAeWAYuAcOgb2IeM3V1Wn1r9k5VquNuqp60qLuTJ3Kg2bVxxYNmnlStxvHr/JfnclcRvUH8A8Yyx2//ZwDExHxDNCX3FgrGAIYB1abJym2WDD0qW+KjZSEjWZhVyVhl1nYaUnYR990Nw4BF8BAgdAL8DMibiGZLCLugN0CIYCdJvQpakW9zvlY282VOvjlq6gLar1H6FVdbmt29VeP2HpHi61udAn96QhKwO0Ooa2uoAT83Sa02ROUgDVbb5q6WisESsAV3/9RaZ7U1fynuwOr6m0DelDnSoEScFI9UidLhb7TKm+AhYgg79ihTAAAAABJRU5ErkJggg=="
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="poker-table-grid-cell">
              <h4 id="player-3">RowdyRobert</h4>
              <p>$10.00</p>
            </div>

            <div class="poker-table-grid-cell">
              <h4 id="player-4">Marie-Lou</h4>
              <p>$1.24</p>
            </div>

            <div class="poker-table-grid-cell my-cards">
              <div class="my-cards-flex">
                <div class="cards">
                  <div class="top-of-card">
                    <div><p>5</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAA/0lEQVQ4jd3Tu0oDQRiG4XfUIHgCm5QWip2ghfeiiOJF2HgRopWVt2Bjr3cggpVFOk9oGRIbxbwWu4vDJrvubgTBrxrm8MzMzwz8i6httf1b2Kx6pV6qM+Niq+qN37lWV5pi+2rP4XTVnTrQtHo2AsrnVG39hLXUiwpYlnN1qgw8rIFlOSgDnxuAj7ERImwO6FWtdS7zIYQ+wETU+QY8NcAeMmwo6nbBtfqOfkKqW6XbqXvqazp5YPJDOupd2h6kYy/qbn59KEAngSWgCywCnXRomaTOC8B9COGzal1i/CS63lFtIIetqe8R+KGul60pfuVJNoHjXN8GcDvOQf82X/BctEYp31GBAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABmJLR0QA/wD/AP+gvaeTAAABTUlEQVRIie3VvUrDUByG8fc0i1hc/Iig+IGbg70DcdQrcCyCgqPghbgITm6CXRRE/MBLcHDooFMQBelQHVyqIsXHJcGSJulpPRGHPnC2w/+XkxyI1O8/BPiA/1eYB5wBp4CXNzYInPDTMTCQFzYPVGnvFlhwjZWBRgIW9QZsuYCGgKMMKF4FKPaKzQF3XWBRVWC6W2wKuO8BiwqASVvMA25+gUVdAwUbcNMBFrUen5/0BGWrV2HXmg044xCctQGfHYJts5LAC4fgeccdwAhQ63AZPsOV1RMwbPVYQAl4TBkUAM1wBSl7HoBS0myTgRYlbUhaluRLqkm6lPQq6TDctippTNKKpAlJdUlXkvaNMQ2r01mcvtJykgMnQzOwceCjBXwnzz8/sJfwvXbzwpbCixKvCSzazkm9NDGsIGlb0mjKlhdJO8aYL1u4n7O+Acb7xOz7R6mBAAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
                <div class="cards">
                  <div class="top-of-card">
                    <div><p>4</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAA/0lEQVQ4jd3Tu0oDQRiG4XfUIHgCm5QWip2ghfeiiOJF2HgRopWVt2Bjr3cggpVFOk9oGRIbxbwWu4vDJrvubgTBrxrm8MzMzwz8i6httf1b2Kx6pV6qM+Niq+qN37lWV5pi+2rP4XTVnTrQtHo2AsrnVG39hLXUiwpYlnN1qgw8rIFlOSgDnxuAj7ERImwO6FWtdS7zIYQ+wETU+QY8NcAeMmwo6nbBtfqOfkKqW6XbqXvqazp5YPJDOupd2h6kYy/qbn59KEAngSWgCywCnXRomaTOC8B9COGzal1i/CS63lFtIIetqe8R+KGul60pfuVJNoHjXN8GcDvOQf82X/BctEYp31GBAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABmJLR0QA/wD/AP+gvaeTAAABTUlEQVRIie3VvUrDUByG8fc0i1hc/Iig+IGbg70DcdQrcCyCgqPghbgITm6CXRRE/MBLcHDooFMQBelQHVyqIsXHJcGSJulpPRGHPnC2w/+XkxyI1O8/BPiA/1eYB5wBp4CXNzYInPDTMTCQFzYPVGnvFlhwjZWBRgIW9QZsuYCGgKMMKF4FKPaKzQF3XWBRVWC6W2wKuO8BiwqASVvMA25+gUVdAwUbcNMBFrUen5/0BGWrV2HXmg044xCctQGfHYJts5LAC4fgeccdwAhQ63AZPsOV1RMwbPVYQAl4TBkUAM1wBSl7HoBS0myTgRYlbUhaluRLqkm6lPQq6TDctippTNKKpAlJdUlXkvaNMQ2r01mcvtJykgMnQzOwceCjBXwnzz8/sJfwvXbzwpbCixKvCSzazkm9NDGsIGlb0mjKlhdJO8aYL1u4n7O+Acb7xOz7R6mBAAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="poker-table-grid-cell">
              <h4 id="player-6">Ellie-Bellie</h4>
              <p>$6.00</p>
            </div>

            <div class="poker-table-grid-cell">
              <div class="chips">
                <h4><span>$</span>4</h4>
              </div>
            </div>

            <div class="poker-table-grid-cell">
              <div class="chips-container">
                <div class="chips-variation">
                  <div class="dealer">
                    <div class="chips"><p>D</p></div>
                  </div>
                  <div class="big-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                  <div class="small-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                </div>

                <div class="chips-variation">
                  <div class="dealer">
                    <div class="chips"><p>D</p></div>
                  </div>
                  <div class="big-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                  <div class="small-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                </div>

                <div class="chips-variation">
                  <div class="dealer">
                    <div class="chips"><p>D</p></div>
                  </div>
                  <div class="big-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                  <div class="small-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                </div>

                <div class="chips-variation">
                  <div class="dealer">
                    <div class="chips"><p>D</p></div>
                  </div>
                  <div class="big-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                  <div class="small-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                </div>

                <div class="chips-variation">
                  <div class="dealer">
                    <div class="chips"><p>D</p></div>
                  </div>
                  <div class="big-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                  <div class="small-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                </div>

                <div class="chips-variation">
                  <div class="dealer">
                    <div class="chips"><p>D</p></div>
                  </div>
                  <div class="big-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                  <div class="small-blind">
                    <div class="chips"></div>
                    <div class="chips"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="poker-table-grid-cell">
              <div class="oponents-cards-container">
                <div class="oponent-cards"></div>
                <div class="oponent-cards"></div>
              </div>
            </div>

            <div class="poker-table-grid-cell">
              <div class="oponents-cards-container">
                <div class="oponent-cards"></div>
                <div class="oponent-cards"></div>
              </div>
            </div>

            <div class="poker-table-grid-cell">
              <div class="oponents-cards-container">
                <div class="oponent-cards">
                  <div class="top-of-card">
                    <div><p>5</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAAdUlEQVQYlY2PMQrCUBAFZ/8NvEFyNBEPkD6dBNJ4glxMbLSzCblBGJsfopBvHNhmecvsgz8JALUGWuAADHl/BibgEhFP1KTeXZnzLNzUFGoFPHbMVQJeWVFizBlQT5Y5fp2p3UbouulQ+49Q//NrtVGbnXJl3iFTf9ddXnbTAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAAAsElEQVQoka3QMWoCURAG4HERIa1g6YacwBzDk0SblN5BL5BAxDvFOjnFFhJB+Cwisu6+1WfIX7038A0zE/GfwRD9Rq2P4TU0xbff/OADI6xPf/jCtAmfsdfOLlHbYxIRUZz8LCIGiYEeErVBRLzUcZlzj1oe63h7J/48v1CiSuyXSoXxRSvMM/GsNQd6eL8B3zoXQYFNB1yj6MS1CVYNuEQv+5x4xQGLbNRo8PQnmJMjIoY0EyR0V7kAAAAASUVORK5CYII="
                    />
                  </div>
                </div>
                <div class="oponent-cards">
                  <div class="top-of-card">
                    <div><p>4</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABmJLR0QA/wD/AP+gvaeTAAAAYElEQVQoka3SsQ2AIBBAUToMc1g4kQ0rMA0mjmXhJoYBPgWaoIHgEX7/Qu4OpUYFaGAHtARtpPxfsPLOtsAMXB8UgKUGJuCg3AmYEnIV8OTGvNQ1U/f2Mii7043kP6JVBFVS6LUMrztBAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVQ4jb3Uuw3CMBRA0SgIZkhBwS5UFFSslBYWoqGgYBfEBpBD4whLIHDyIm7vI/nzXFX/Cg2aKFLjiBNmEaj1qh2LrHHPoAc2Q5Elrt67YVWKzHH+gPRdsCiBDl+Qvv0vZIuuAOqwy9fWRfsd0yRbS9A0h52w+PVnWPxBZlh8RBI0zdAmLP6NDOkJ8691VBGUHPgAAAAASUVORK5CYII="
                    />
                  </div>
                </div>
                <div class="oponent-cards">
                  <div class="top-of-card">
                    <div><p>3</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABmJLR0QA/wD/AP+gvaeTAAAAYElEQVQoka3SsQ2AIBBAUToMc1g4kQ0rMA0mjmXhJoYBPgWaoIHgEX7/Qu4OpUYFaGAHtARtpPxfsPLOtsAMXB8UgKUGJuCg3AmYEnIV8OTGvNQ1U/f2Mii7043kP6JVBFVS6LUMrztBAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVQ4jb3Uuw3CMBRA0SgIZkhBwS5UFFSslBYWoqGgYBfEBpBD4whLIHDyIm7vI/nzXFX/Cg2aKFLjiBNmEaj1qh2LrHHPoAc2Q5Elrt67YVWKzHH+gPRdsCiBDl+Qvv0vZIuuAOqwy9fWRfsd0yRbS9A0h52w+PVnWPxBZlh8RBI0zdAmLP6NDOkJ8691VBGUHPgAAAAASUVORK5CYII="
                    />
                  </div>
                </div>
                <div class="oponent-cards">
                  <div class="top-of-card">
                    <div><p>2</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAAdUlEQVQYlY2PMQrCUBAFZ/8NvEFyNBEPkD6dBNJ4glxMbLSzCblBGJsfopBvHNhmecvsgz8JALUGWuAADHl/BibgEhFP1KTeXZnzLNzUFGoFPHbMVQJeWVFizBlQT5Y5fp2p3UbouulQ+49Q//NrtVGbnXJl3iFTf9ddXnbTAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAAAsElEQVQoka3QMWoCURAG4HERIa1g6YacwBzDk0SblN5BL5BAxDvFOjnFFhJB+Cwisu6+1WfIX7038A0zE/GfwRD9Rq2P4TU0xbff/OADI6xPf/jCtAmfsdfOLlHbYxIRUZz8LCIGiYEeErVBRLzUcZlzj1oe63h7J/48v1CiSuyXSoXxRSvMM/GsNQd6eL8B3zoXQYFNB1yj6MS1CVYNuEQv+5x4xQGLbNRo8PQnmJMjIoY0EyR0V7kAAAAASUVORK5CYII="
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="poker-table-grid-cell">
              <h4 id="player-2">Vincent202</h4>
              <p>$2.88</p>
            </div>

            <div class="poker-table-grid-cell">
              <div class="oponents-cards-container">
                <div class="oponent-cards">
                  <div class="top-of-card">
                    <div><p>5</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAAdUlEQVQYlY2PMQrCUBAFZ/8NvEFyNBEPkD6dBNJ4glxMbLSzCblBGJsfopBvHNhmecvsgz8JALUGWuAADHl/BibgEhFP1KTeXZnzLNzUFGoFPHbMVQJeWVFizBlQT5Y5fp2p3UbouulQ+49Q//NrtVGbnXJl3iFTf9ddXnbTAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAAAsElEQVQoka3QMWoCURAG4HERIa1g6YacwBzDk0SblN5BL5BAxDvFOjnFFhJB+Cwisu6+1WfIX7038A0zE/GfwRD9Rq2P4TU0xbff/OADI6xPf/jCtAmfsdfOLlHbYxIRUZz8LCIGiYEeErVBRLzUcZlzj1oe63h7J/48v1CiSuyXSoXxRSvMM/GsNQd6eL8B3zoXQYFNB1yj6MS1CVYNuEQv+5x4xQGLbNRo8PQnmJMjIoY0EyR0V7kAAAAASUVORK5CYII="
                    />
                  </div>
                </div>
                <div class="oponent-cards">
                  <div class="top-of-card">
                    <div><p>5</p></div>
                    <div>
                      <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAAdUlEQVQYlY2PMQrCUBAFZ/8NvEFyNBEPkD6dBNJ4glxMbLSzCblBGJsfopBvHNhmecvsgz8JALUGWuAADHl/BibgEhFP1KTeXZnzLNzUFGoFPHbMVQJeWVFizBlQT5Y5fp2p3UbouulQ+49Q//NrtVGbnXJl3iFTf9ddXnbTAAAAAElFTkSuQmCC"
                      />
                    </div>
                  </div>
                  <div class="bottom-of-card">
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABmJLR0QA/wD/AP+gvaeTAAAAsElEQVQoka3QMWoCURAG4HERIa1g6YacwBzDk0SblN5BL5BAxDvFOjnFFhJB+Cwisu6+1WfIX7038A0zE/GfwRD9Rq2P4TU0xbff/OADI6xPf/jCtAmfsdfOLlHbYxIRUZz8LCIGiYEeErVBRLzUcZlzj1oe63h7J/48v1CiSuyXSoXxRSvMM/GsNQd6eL8B3zoXQYFNB1yj6MS1CVYNuEQv+5x4xQGLbNRo8PQnmJMjIoY0EyR0V7kAAAAASUVORK5CYII="
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
