* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 14em;
  font-family: Serif;
  background-color: #676769;
}

#poker-skin-v1 {
  height: 47em;
}

#poker-skin-v1 #challenge-completed {
  background-color: #fff;
  height: 10em;
  width: 45%;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

#poker-skin-v1 #challenge-completed .exit {
  position: absolute;
  margin-left: 22.8em;
  margin-top: -4.5em;
}

#poker-skin-v1 #challenge-completed .exit img {
  position: absolute;
  cursor: pointer;
}

#poker-skin-v1 #challenge-completed h4 {
  margin-top: 0.2em;
  opacity: 0.5;
}

#poker-skin-v1 #challenge-completed #progress-bar {
  background-color: #2764aa;
  height: 0.3em;
  width: 10%;
  position: absolute;
  margin-top: 5em;
  margin-left: -21.9em;
  z-index: 4;
}

#poker-skin-v1 .poker-skin-v1-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  margin-top: -11em;
}

#poker-skin-v1 .poker-skin-v1-main-container .poker-table {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20em;
  width: 40em;
  background-color: #151515;
  border-radius: 20em;
  border: 2em solid #090805;
  z-index: 2;
  position: relative;
  margin-top: 10em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 2em;
  padding: 1em;
  background-color: #000;
  opacity: 0.8;
  border-radius: 0.5em;
  position: relative;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(1) {
  position: absolute;
  margin-left: -25em;
  margin-top: -10em;
  opacity: 0.4;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
  background-color: transparent;
  position: absolute;
  margin-top: -2.5em;
  margin-left: -5em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
  position: absolute;
  margin-left: 15em;
  margin-top: -10em;
  z-index: 3;
  opacity: 0.4;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
  background-color: #316ad2;
  border: 3px solid #fff;
  position: absolute;
  margin-top: 5em;
  margin-left: -25em;
  z-index: 3;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(5) {
  grid-column: 2;
  grid-row: 3;
  position: absolute;
  margin-top: 7.5em;
  margin-left: -4.5em;
  background-color: transparent;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(6) {
  grid-column: 3;
  grid-row: 3;
  position: absolute;
  margin-left: 15em;
  margin-top: 5em;
  opacity: 0.8;
  z-index: 3;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(7) {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: transparent;
  margin-top: 1.5em;
  margin-left: -14.4em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(8) {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: -7.3em;
  margin-left: 9em;
  background-color: transparent;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(9) {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 3.5em;
  margin-left: -24.5em;
  background-color: transparent;
  z-index: 2;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(10) {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: -11.5em;
  margin-left: 15em;
  background-color: transparent;
  z-index: 2;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11) {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 3em;
  margin-left: 15em;
  background-color: transparent;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container {
  display: flex;
  z-index: 2;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(9)
  .oponents-cards-container
  .oponent-cards,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(10)
  .oponents-cards-container
  .oponent-cards {
  height: 3em;
  width: 2em;
  background-color: #c1c1c1;
  border-radius: 5%;
  border: 3px solid #fff;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(9)
  .oponents-cards-container
  .oponent-cards:nth-child(1),
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(10)
  .oponents-cards-container
  .oponent-cards:nth-child(1) {
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Safari 3-8 */
  transform: rotate(-5deg);
  z-index: 1;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(9)
  .oponents-cards-container
  .oponent-cards:nth-child(2),
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(10)
  .oponents-cards-container
  .oponent-cards:nth-child(2) {
  -ms-transform: rotate(7.5deg); /* IE 9 */
  -webkit-transform: rotate(7.5deg); /* Safari 3-8 */
  transform: rotate(7.5deg);
  z-index: 2;
  margin-top: -3.32em;
  margin-left: 0.5em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 3em;
  background-color: #c1c1c1;
  border-radius: 5%;
  border: 3px solid #fff;
  font-size: 0.75em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(1),
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(4) {
  background-color: #269f27;
  opacity: 0.7;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(2) {
  background-color: #2764aa;
  opacity: 0.7;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(3) {
  background-color: #b83b31;
  opacity: 0.7;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(1) {
  z-index: 1;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(2) {
  z-index: 2;
  margin-left: 0.1em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(3) {
  z-index: 3;
  margin-left: 0.06em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(4) {
  z-index: 4;
  margin-left: 0.1em;
}

/*player 2*/
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(12) {
  grid-column: 3;
  grid-row: 1;
  position: absolute;
  margin-left: -4.8em;
  margin-top: -14em;
  z-index: 3;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13) {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: -14em;
  margin-left: -4.8em;
  z-index: 2;
  background-color: transparent;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container {
  display: flex;
  margin-top: -1em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 3em;
  background-color: #c1c1c1;
  border-radius: 5%;
  border: 3px solid #fff;
  font-size: 0.75em;
  margin-top: -4em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards:nth-child(1) {
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Safari 3-8 */
  transform: rotate(-5deg);
  z-index: 1;
  background-color: #2764aa;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards:nth-child(2) {
  -ms-transform: rotate(7.5deg); /* IE 9 */
  -webkit-transform: rotate(7.5deg); /* Safari 3-8 */
  transform: rotate(7.5deg);
  z-index: 2;
  margin-left: -2.8em;
  background-color: #b83b31;
}

/*---chips---*/
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 1px solid #fff;
}
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(7)
  .chips {
  margin-left: -2em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips
  h4 {
  font-size: 0.7em;
  text-align: center;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips
  h4
  span {
  margin-right: 0.1em;
  font-size: 0.68em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .dealer
  .chips {
  background-color: #269f27;
  margin-bottom: 0.3em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .small-blind
  .chips {
  background-color: #b83b31;
  margin-top: 0.3em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .dealer
  .chips
  p {
  font-size: 0.7em;
  margin-top: 0.05em;
  margin-left: 0.05em;
  font-weight: bold;
  text-align: center;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .big-blind,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .small-blind {
  display: flex;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .big-blind
  .chips:nth-child(1)#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .small-blind
  .chips:nth-child(1) {
  z-index: 1;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .big-blind
  .chips:nth-child(2),
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .small-blind
  .chips:nth-child(2) {
  z-index: 2;
  margin-left: -0.9em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .big-blind
  .chips:nth-child(3) {
  z-index: 3;
  margin-left: -0.9em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation
  .big-blind
  .chips:nth-child(4) {
  z-index: 4;
  margin-left: -0.9em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(1) {
  position: absolute;
  margin-left: -27.5em;
  margin-top: -4.5em;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(1)
  p {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(2) {
  position: absolute;
  margin-left: -14.5em;
  margin-top: -5.5em;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(2)
  p {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(3) {
  position: absolute;
  margin-left: -30.5em;
  margin-top: 7em;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(3)
  p {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(4) {
  position: absolute;
  margin-left: -2.5em;
  margin-top: -5em;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(4)
  p {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(5) {
  position: absolute;
  margin-left: -14.25em;
  margin-top: 9.2em;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(5)
  .dealer
  p {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(6) {
  position: absolute;
  margin-left: -2.6em;
  margin-top: 9em;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .chips-container
  .chips-variation:nth-child(6)
  p {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}

/*center-flex*/

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex {
  display: flex;
}

/*---my cards---*/
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards,
#poker-skin-v1 #my-cards .my-cards-flex .cards,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .my-cards
  .my-cards-flex
  .cards {
  border: 3px solid #fff;
  margin: 0 0.2em;
  height: 1.5em;
  border-radius: 5%;
  padding: 1.5em 0.5em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(1),
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(2) {
  background-color: #2bbf29;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(3),
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(4),
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(8)
  .chips {
  background-color: #3077cc;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(5),
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(7)
  .chips {
  background-color: #df4538;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .my-cards
  .my-cards-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .my-cards
  .my-cards-flex
  .cards:nth-child(1) {
  background-color: #b83b31;
  color: #fff;
  opacity: 0.9;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .my-cards
  .my-cards-flex
  .cards:nth-child(2) {
  background-color: #2764aa;
  color: #fff;
  opacity: 0.9;
}

/*message board container*/
#poker-skin-v1 #message-board .message-board-container {
  width: 100%;
  height: 25em;
  margin-top: 3em;
  background-color: #2b2b2b;
  color: #fff;
  position: relative;
  display: flex;
  jusitfy-content: center;
  align-items: center;
}

#poker-skin-v1 #message-board .message-board-container header {
  display: flex;
  justify-content: center;
  background-color: #515151;
  border: 2px solid #515151;
  border-radius: 0.2em;
  position: relative;
  left: 28.5%;
  transform: translate(10em, -12.5em);
}

#poker-skin-v1 #message-board .message-board-container header ul {
  display: flex;
  border: 2.5px solid #171717;
  border-radius: 0.2em;
}

#poker-skin-v1 #message-board .message-board-container header ul li {
  list-style: none;
  width: 13.5em;
  padding: 0.1em;
  text-align: center;
}

#poker-skin-v1
  #message-board
  .message-board-container
  header
  ul
  li:nth-child(1) {
  border-right: 2.5px solid #171717;
}

#poker-skin-v1 #message-board .message-board-container .message {
  background-color: #171717;
  border: 2px solid #090805;
  width: 45.5%;
  border-radius: 0.5em;
  transform: translate(2.2em, -4em);
}

#poker-skin-v1 #message-board .message-board-container .message p {
  padding: 1em;
}

#poker-skin-v1 #message-board .message-board-container .bottom .bottom-flex {
  position: absolute;
  margin-left: 26em;
  margin-top: -9em;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.1),
    0 6px 10px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 3.5em;
}

#poker-skin-v1
  #message-board
  .message-board-container
  .bottom
  .bottom-flex
  div {
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  border-radius: 0.2em;
}

#poker-skin-v1
  #message-board
  .message-board-container
  .bottom
  .bottom-flex
  div:nth-child(1) {
  border: 4px solid #171717;
}

#poker-skin-v1
  #message-board
  .message-board-container
  .bottom
  .bottom-flex
  div:nth-child(3) {
  border-left: 4px solid #171717;
  border-right: 4px solid #171717;
  border-bottom: 4px solid #171717;
}

#poker-skin-v1
  #message-board
  .message-board-container
  .bottom
  .bottom-flex
  div:nth-child(2),
#poker-skin-v1
  #message-board
  .message-board-container
  .bottom
  .bottom-flex
  div:nth-child(4) {
  border-left: 4px solid #171717;
  border-right: 4px solid #171717;
  border-bottom: 4px solid #171717;
  padding: 0.7em 2em;
}

/*---buttons---*/
#poker-skin-v1 #message-board .message-board-container #buttons {
  position: absolute;
  margin-top: 5.5em;
  margin-left: 40em;
}

#poker-skin-v1 #message-board .message-board-container #buttons .play {
  background-color: #676769;
  border: none;
  border-radius: 0.2em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2em 1em;
  cursor: pointer;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.1),
    0 6px 10px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#poker-skin-v1 #message-board .message-board-container #buttons .play:hover {
  transform: scale(1.1);
  background-color: #090805;
}

#poker-skin-v1 #my-cards .my-cards-flex .cards,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .my-cards
  .my-cards-flex
  .cards
  .top-of-card,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards
  .top-of-card {
  margin-top: -1.2em;
  margin-left: -0.2em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(1)
  .top-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(2)
  .top-of-card
  img {
  margin-left: -0.3em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(1)
  .bottom-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(2)
  .bottom-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .my-cards
  .my-cards-flex
  .cards
  .bottom-of-card
  img {
  margin-left: 1em;
  margin-top: -0.4em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(3)
  .top-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(4)
  .top-of-card
  img {
  margin-left: -0.22em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(3)
  .bottom-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(4)
  .bottom-of-card
  img {
  margin-left: 1em;
  margin-top: -0.3em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(5)
  .top-of-card
  img {
  margin-left: -0.3em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(5)
  .bottom-of-card
  img {
  margin-left: 1em;
  margin-top: -0.3em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .my-cards
  .my-cards-flex
  .cards
  .top-of-card
  img {
  margin-left: -0.3em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(1)
  .top-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .center
  .center-flex
  .cards:nth-child(2)
  .top-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .my-cards
  .my-cards-flex
  .cards
  .top-of-card
  img {
  margin-top: -0.1em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(1)
  .top-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(4)
  .top-of-card
  img {
  margin-left: -1.35em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(2)
  .top-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(3)
  .top-of-card
  img {
  margin-left: -1.4em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(1)
  .bottom-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(4)
  .bottom-of-card
  img {
  margin-left: 1.2em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(2)
  .bottom-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(11)
  .oponents-cards-container
  .oponent-cards:nth-child(3)
  .bottom-of-card
  img {
  margin-left: 1.65em;
  margin-top: -0.7em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .oponents-cards-container
  .oponent-cards:nth-child(1)
  .top-of-card
  p,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .oponents-cards-container
  .oponent-cards:nth-child(4)
  .top-of-card
  p {
  margin-left: -1.2em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .oponents-cards-container
  .oponent-cards:nth-child(2)
  .top-of-card
  p,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .oponents-cards-container
  .oponent-cards:nth-child(3)
  .top-of-card
  p {
  margin-left: -1.2em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards:nth-child(1)
  .top-of-card
  p {
  margin-left: -1.4em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards:nth-child(2)
  .top-of-card
  p {
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Safari 3-8 */
  transform: rotate(3deg);
  margin-left: -1.3em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards:nth-child(1)
  .top-of-card
  img {
  margin-left: -1.5em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards:nth-child(2)
  .top-of-card
  img {
  margin-left: -1.45em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards:nth-child(1)
  .bottom-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards:nth-child(2)
  .bottom-of-card
  img {
  margin-left: 1.65em;
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards:nth-child(2)
  .top-of-card
  img,
#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell:nth-child(13)
  .oponents-cards-container
  .oponent-cards:nth-child(2)
  .bottom-of-card
  img {
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Safari 3-8 */
  transform: rotate(3deg);
}

#poker-skin-v1
  .poker-skin-v1-main-container
  .poker-table
  .poker-table-sub-container
  .poker-table-sub-container-grid
  .poker-table-grid-cell
  .oponents-cards-container
  .oponent-cards {
  margin-top: -1em;
}
