<div class="container">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Your Cards</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center" style="margin-top: 1em;">
        <div class="col-xs-2">
          <img
            *ngFor="let card of game.cards"
            class="img-responsive"
            style="max-width: 100px; margin: 1em;"
            [src]="getImage(card)"
            alt=""
            (click)="playCard(card); modal.dismiss('Played card')"
          />
        </div>
      </div>
    </div>
  </ng-template>
  <div class="row justify-content-center">
    <button
      class="btn btn-lg btn-outline-primary col-2"
      style="margin: 0 auto; margin-top: 2em;"
      (click)="open(content)"
    >
      Your Cards
    </button>
  </div>
  <div [ngSwitch]="game.gameMode">
    <!-- BIDDING -->
    <div *ngSwitchCase="gameMode.BIDDING">
      <div
        class="row justify-content-center jumbotron"
        style="margin-top: 2em; padding: 2em;"
      >
        <h1>Seconds left to bid: {{ game.time }}</h1>
      </div>
      <div
        class="row justify-content-center jumbotron"
        style="margin-top: 2em; padding: 2em;"
      >
        <h2>
          The current highest bidder is
          <strong>{{ game.highestBidPlayer.name }}</strong>
          with a bid of
          <strong>{{ game.highestBidPlayer.bid }}</strong>
        </h2>
      </div>
      <div class="row justify-content-center" style="margin-top: 1em;">
        <div class="col-xs-6" style="margin-right: 1em;">
          <button class="btn-sm btn-danger" (click)="decrementBidValue()">
            <h4>-</h4>
          </button>
        </div>
        <div class="col-xs-6" style="margin-right: 1em;">
          <mat-slider
            min="125"
            max="250"
            step="5"
            thumbLabel
            tickInterval="1"
            [(value)]="bidValue"
          ></mat-slider>
        </div>
        <div class="col-xs-6" style="margin-right: 1em;">
          <button class="btn-sm btn-success" (click)="incrementBidValue()">
            <h4>+</h4>
          </button>
        </div>
        <div class="col-xs-6" style="margin-right: 1em;">
          <h3>
            <span class="badge badge-secondary">
              {{ bidValue }}
            </span>
          </h3>
        </div>
        <div class="col-xs-6">
          <button
            class="btn btn-success"
            (click)="onBid()"
            [disabled]="bidValue <= game.highestBidPlayer.bid"
            [ngStyle]="{
              cursor:
                bidValue <= game.highestBidPlayer.bid
                  ? 'not-allowed'
                  : 'default'
            }"
          >
            Bid
          </button>
        </div>
      </div>
    </div>
    <!-- TRUMP SUIT SELECTION -->
    <div *ngSwitchCase="gameMode.TRUMP_SELECTION">
      <div *ngIf="user.name === game.highestBidPlayer.name" class="text-center">
        <h1>Select A Trump suit</h1>
        <div
          class="row justify-content-center jumbotron"
          style="margin-top: 2em; padding: 2em;"
        >
          <h1>Seconds left to choose a trump suit: {{ game.time }}</h1>
        </div>
        <div class="row justify-content-center" style="margin: 0 auto;">
          <img
            *ngFor="let suit of suits"
            [src]="suit"
            [alt]="suit"
            class="img-responsive col"
            style="max-width: 200px; margin: 1em;"
            (click)="gameService.onTrumpSuitSelection(suit.substring(35, 36))"
          />
        </div>
      </div>
      <div *ngIf="user.name !== game.highestBidPlayer.name">
        <h1>
          Waiting for {{ game.highestBidPlayer.name }} to select the trump
          suit...
        </h1>
      </div>
    </div>
    <!-- PARTNER CARD SELECTION -->
    <div *ngSwitchCase="gameMode.PARTNER_SELECTION">
      <div *ngIf="user.name === game.highestBidPlayer.name" class="text-center">
        <h1>Select A Partner Card</h1>
        <div
          class="row justify-content-center jumbotron"
          style="margin-top: 2em; padding: 2em;"
        >
          <h1>Seconds left to choose a partner card: {{ game.time }}</h1>
        </div>
        <div class="row justify-content-center" style="margin: 0 auto;">
          <img
            *ngFor="let card of gameService.allCards"
            [src]="getImage(card)"
            [alt]="card.name"
            class="img-responsive col"
            style="max-width: 100px; margin: 1em;"
            (click)="gameService.onPartnerCardSelection(card)"
          />
        </div>
      </div>
      <div *ngIf="user.name !== game.highestBidPlayer.name">
        <h1>
          Waiting for {{ game.highestBidPlayer.name }} to select the partner
          card...
        </h1>
      </div>
    </div>
    <!-- PLAYING -->
    <div *ngSwitchCase="gameMode.PLAYING">
      <div class="jumbotron text-center" style="margin-top: 2em;">
        <h1>
          Turn: {{ game.players[game.turn].name }}
          <strong>{{
            user.name === game.players[game.turn].name ? '(Your Turn)' : ''
          }}</strong>
        </h1>
        <p class="lead">
          {{
            user.name === game.players[game.turn].name
              ? "Click a card from the 'your cards' modal to play"
              : ''
          }}
        </p>
      </div>
      <div class="jumbotron text-center" style="margin-top: 2em;">
        <h1>Hand:</h1>
        <div class="row justify-content-center" style="margin-top: 1em;">
          <div class="col-xs-2">
            <img
              *ngFor="let card of game.hand"
              class="img-responsive"
              style="max-width: 100px; margin: 1em;"
              [src]="getImage(card)"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
