<div class="jumbotron text-center shadow" style="margin-top: 2em;">
  <h1>Welcome to Triple Spades</h1>

  <p class="lead">Kali Teeri = 3 of spades.</p>
  <img
    src="http://4.bp.blogspot.com/-XrZo-MFU6JA/UT0mw-hIq8I/AAAAAAAAA8k/GWzMlyPFNQw/s1600/kali+3.jpg"
    alt="Triple Spade"
    height="200"
    width="150"
  />
  <hr />
  <p class="lead">
    This game can be played by 5 people. with 5 people you take out two 2s. 10
    points are associated with each of the face cards(A,K,Q,J and 10) , and 3 of
    Spades has 30 points associated with it making it a trump card. And 5 has 5
    points. Everything else has no value. Players wage their scores depending on
    how good their cards are (maximum is 250), and player with the highest wager
    ask for a partner with a specific card and creates trump suit(pick a color
    of cards which has higher value to take hands). Partner then assists the
    player reach the target points, either openly or secretly.
  </p>
</div>
