<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Triple Spades</title>
    <base href="/static/">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.discordapp.com/app-icons/692090413317750785/7e86783bad92ecb1ff86356307d06cb7.png?size=64"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://connect-cdn.atl-paas.net/all.js" async></script>
  <link rel="stylesheet" href="styles.8082fcf4babb7fde37a0.css"></head>
  <body>
    <app-root></app-root>
  <script src="runtime-es2015.ff9a5a1fbad137c4b7f7.js" type="module"></script><script src="polyfills-es2015.49cbaa96e71462b378e6.js" type="module"></script><script src="runtime-es5.025faeeb0cb078e4e185.js" nomodule defer></script><script src="polyfills-es5.12e699efcccbc6a4339a.js" nomodule defer></script><script src="main-es2015.f2e3302972752bdb22b6.js" type="module"></script><script src="main-es5.96adbaa22852a245ccab.js" nomodule defer></script></body>
</html>
