html{
    padding: 100%;
    margin: 100%;
}
.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    text-decoration: underline;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    font-size: large;
}
body{
    background-image: url("https://image.freepik.com/free-photo/magician-s-hand-holding-fanned-playing-cards-against-black-background_23-2147880783.jpg"
    );
}