<body background="https://image.freepik.com/free-photo/magician-s-hand-holding-fanned-playing-cards-against-black-background_23-2147880783.jpg">
  <font face="Comic Sans MS" color=red>
    <br>
    <br>
    <br>
    <br>
    <br>
      <h1>Welcome to Triple Spades</h1>
      <h2 class="lead">Kali Teeri = 3 of spades.</h2>
      <br>
      <p class="lead">
        This game can be played by 5 people. with 5 people you take out two 2s. 10
        points are associated with each of the face cards(A,K,Q,J and 10) , and 3 of
        Spades has 30 points associated with it making it a trump card. And 5 has 5
        points. Everything else has no value. Players wage their scores depending on
        how good their cards are (maximum is 250), and player with the highest wager
        ask for a partner with a specific card and creates trump suit(pick a color
        of cards which has higher value to take hands). Partner then assists the
        player reach the target points, either openly or secretly.
      </p>
      <p>
        Login to start playing!
      </p>
      <div class="text-center">
        <button type="button" class="btn btn-outline-danger "  >Login</button>
      </div>
  </font>
</body>