.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body{
    border: 0ex;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    font-size: large;
}
