div{
    background-image: url(https://image.freepik.com/free-photo/magician-s-hand-holding-fanned-playing-cards-against-black-background_23-2147880783.jpg);
    background-size: 100%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    font-size: large;
}