<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<body background="https://ak.picdn.net/shutterstock/videos/23411734/thumb/12.jpg">
<font face="Comic Sans MS" color=Red style="size: 10;">
<h1>Welcome to Triple Spades</h1>
<h2 class="lead">Kali Teeri = 3 of spades.</h2>
<br>
<p class="lead">
  This game can be played by 5 people. with 5 people you take out two 2s. 10
  points are associated with each of the face cards(A,K,Q,J and 10) , and 3 of
  Spades has 30 points associated with it making it a trump card. And 5 has 5
  points. Everything else has no value. Players wage their scores depending on
  how good their cards are (maximum is 250), and player with the highest wager
  ask for a partner with a specific card and creates trump suit(pick a color
  of cards which has higher value to take hands). Partner then assists the
  player reach the target points, either openly or secretly.
  </p>
  <p>
    Login to start playing!
  </p>
<br>
<div class="center">
  <button class="btn btn-outline-danger" (click)="login()">Login</button>
</div>
  </font>
  </body>